#logo{
	padding-left: 3%;
	width:90%;
	margin: 0 auto;
	border-radius: 10px;
	border: double 10px black;
	
}

input{
	display: block;
	width: 60%;
	margin: 5%  auto;
	height: 30%;
	font-size:400%;
	padding:0 5%;
	border-radius: 10px;
	border: double 10px black;
}