#logo{
	padding-left: 3%;
	width:90%;
	margin: 0 auto;
	border-radius: 10px;
	border: double 10px black;

}

#img1{
	width:80%;
}
#img2{
	width:100%;
}

input{
	display: block;
	width: 60%;
	margin: 5%  auto;
	height: 30%;
	font-size:400%;
	padding:0 5%;
	border-radius: 10px;
	border: double 10px black;

}

input::placeholder {
  color: #dcdcdc;
  font-size: 100%;

}

input[type="text"]:focus {
  outline: 0;
}