#logo{
	width:90%;
	margin: 0 auto;
	border: double 10px black;
	border-radius: 10px;
}
#status{
	display: block;
	margin: 0 auto;
	width:80%;
}

#output{
	display: block;
	margin:5% auto;
	width:90%;
	border: double 10px black;
	border-radius: 10px;
}

#converted{
	display: block;
	margin: 0px auto;
	width:90%;
}